/*setting up google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Roboto&display=swap");

html {
  max-width: 100%;
  width: 100vw;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  /*Dark themed background*/
  background-color: #2e3440;
  /*Beautiful grey text*/
  color: #d9d5d4;
}
h1 {
  font-family: "Eczar", serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: #19335a;
  background: linear-gradient(148deg, #19335a, #8fc8eb);
  border-radius: 0.4rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.onChain_content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.onChain_content p {
  margin: 0;
}

/*Loading animation*/
.loadingContainer {
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loader {
  margin-top: 5rem;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}
.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  margin-left: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
  animation: delay 0.8s infinite ease-in-out;
}
.loader .bar1 {
  background-color: #e7dfd5;
}
.loader .bar2 {
  background-color: #cbedd5;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.loader .bar3 {
  background-color: #97dece;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.loader .bar4 {
  background-color: #84a9ac;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.loader .bar5 {
  background-color: #3b6978;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.loader .bar6 {
  background-color: #204051;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
