body {
  margin: 0;
  padding: 0;
  /*Dark themed background*/
  background-color: #1e1e1e;
  /*Beautiful grey text*/
  color: #d4d4d4;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
