/*setting up google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Roboto&display=swap");

html {
  max-width: 100%;
  width: 100vw;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  /*Dark themed background*/
  background-color: #697a98;
  /*Beautiful grey text*/
  color: #d9d5d4;
}
h1 {
  font-family: "Eczar", serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: #19335a;
  border-radius: 0.5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
